In [37]:
import pandas as pd
import scipy.stats as stats

In [2]:
df=pd.read_csv('Sales_add (1).csv')

In [3]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

In [4]:
#Here groups come from a single population (ie,before and after sales) so the type of test is paired ttest

In [5]:
 #H0= There is no increase in sales after stepping into digital marketing
 #H1= There is increase in sales after stepping into digital marketing

In [13]:
from scipy import stats
import numpy as np

In [16]:
stats.shapiro(df['Sales_before_digital_add(in $)'])

ShapiroResult(statistic=0.9306764006614685, pvalue=0.12674309313297272)

In [17]:
stats.shapiro(df['Sales_After_digital_add(in $)'])

ShapiroResult(statistic=0.9702128767967224, pvalue=0.7159645557403564)

In [21]:
stats.ttest_rel(df['Sales_before_digital_add(in $)'], df['Sales_After_digital_add(in $)'])

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)

In [19]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [24]:
# to test the independence of two categorical variables, we use Chi-Square Test of Independence.
# H0 = There is no dependency between Region and Manager
# H1 = Region and manager are dependent on each other

In [29]:
CT=pd.crosstab(df['Region'],df['Manager'])

In [30]:
CT

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [43]:
stats.chi2_contingency(CT)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [44]:
Chi_Stat_value=Chi[0]
p_val=Chi[1]
d_o_f=Chi[2]
alpha=0.05

In [45]:
Chi_critical=stats.chi2.ppf(q=1-alpha,df=d_o_f)
print("Critical value is " ,Chi_critical)

Critical value is  9.487729036781154

In [46]:
if(Chi_Stat_value>=Chi_critical)&(p_val<=alpha):
    print("Reject null hypothesis and there is dependency between variables")
else:
    print("Accept null hypothesis and there is no depenndency between 2 variables ")

Accept null hypothesis and there is no depenndency between 2 variables